.container{
    width: 450px;
    height: 450px;
    vertical-align: center;
}

.s4{
    height: 140px;
    text-align: center;
}

.s4:hover{
    background-color: rgba(255,255,255,0.3);
}

.verPlacar{
    margin-top: 5px;
}

.placar2{
    position: absolute;
    margin-top: -50px;
    right: 0px;
    color: red;
}